/************* General **************/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/************** Header ****************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img {
  width: 100%;
  height: 19px;
  margin: 30px 0px 50px;
}

.menu li a {
  padding-top: 15px;
}

.menu a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.menu ul {
  height: 19px;
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
}

.activites-menu {
  padding: 0px 0px 0px 20px;
}

/************** Info Group ***************/
/**Search Bar**/
.search-bar {
  width: 100%;
  height: 49px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.vector {
  display: flex;
  width: 50px;
  height: 49px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
}

.vector i {
  height: 18px;
  margin: auto;
  color: black;
}

.place {
  height: 47px;
  border: 1px solid #f2f2f2;
}

::placeholder {
  height: 40px;
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.place input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-color: transparent;
  text-align: center;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: black;
  opacity: 1;
}

.search {
  display: flex;
  flex-direction: row;
}

.button-search {
  width: 132px;
  height: 49px;
  font-weight: 700;
  font-size: 18px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065fc;
  border-color: transparent;
  color: #ffffff;
}

.magnifying-glass {
  display: none;
  width: 49px;
  height: 49px;
  border-radius: 15px;
  background-color: #0065fc;
  border-color: transparent;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.magnifying-glass i {
  height: 18px;
  margin: auto;
  color: #ffffff;
  -webkit-text-stroke: 0.5px white;
}

/**Filter**/
.filterBar {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.title-filter {
  margin-right: 20px;
}

.groupIcons {
  display: flex;
  flex-direction: row;
}

.filterTextIcons {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  height: 50px;
  font-weight: 700;
  border-radius: 30px;
  margin-right: 20px;
  padding: 0px 19px 0px 19px;
}

.filterTextIcons:hover {
  background-color: #deebff;
}

.filterTextIcons i {
  width: 30px;
  display: flex;
  align-items: center;
}

/**Info**/
.infoBar {
  display: flex;
  flex-direction: row;
  height: 21px;
  font-weight: 400;
  font-size: 16px;
  gap: 10px;
}

.infoIcons {
  display: inline-block;
  width: 19px;
  height: 19px;
  min-height: 19px;
  min-width: 19px;
  line-height: 19px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}

/************ Hebergements And Populaires *************/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/************ Hebergements *************/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.hebergements-cards a {
  width: 30%;
}

.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  flex-direction: column;
}

.hebergements-cards img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.button-plus {
  width: 100%;
  font-weight: 700;
  margin-top: 21px;
  font-size: 18px;
  text-align: left;
}

/************** Populaire **************/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/************** Activités Marseille *************/
.activites {
  padding: 30px 0px;
  margin: 30px;
}

.activites-title {
  width: 100%;
}

.activites-cards .card-title {
  margin-left: 10px;
}

.activites .activites-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards a {
  width: 23%;
  height: 440px;
}

.activites-cards .card {
  padding: 0px;
}

.activites-cards .card-content {
  padding: 5px;
}

/************** Footer **************/
footer {
  height: 163px;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.footer {
  width: 100%;
  padding: 0px 20px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer ul {
  height: 19px;
  padding-top: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.footer a {
  line-height: 30px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Desktop Media queries */
@media (max-width: 1230px) {
  .card-title {
    font-size: 14px;
  }

  .card-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 1120px) {
  .card-title {
    font-size: 12px;
  }

  .card-subtitle {
    font-size: 12px;
  }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .filterBar {
    flex-direction: column;
    margin-top: 15px;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hebergements-cards a {
    width: 31%;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 32%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .activites-cards img {
    height: 205px;
  }

  .activites .activites-cards {
    height: 270px;
  }

  .activites-cards .card-title {
    align-content: center;
    height: 18px;
  }
}

@media (max-width: 830px) {
  .footer {
    width: auto;
  }
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 768px) {
  body {
    margin: 0px;
  }

  .main-container {
    margin: 0px;
    padding: 0px;
  }

  /***** Header *****/
  header {
    align-items: center;
    flex-direction: column;
  }

  .logo {
    padding: 30px;
  }

  .logo img {
    width: 61.09px;
    height: 19px;
    margin: 0px;
  }

  .menu {
    width: 100%;
  }

  .menu ul {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f2f2f2;
  }

  .menu li {
    width: 50%;
    height: 100%;
    padding-bottom: 15px;
    text-align: center;
  }

  .menu a:hover {
    border-top: none;
  }

  .menu li:hover {
    border-top: none;
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
  }

  .activites-menu {
    padding: 0px;
  }

  /***** Info Group *****/
  .info-group {
    padding: 0px 20px 0px 20px;
  }

  .headline p {
    margin-top: 20px;
    height: auto;
  }

  .search {
    width: 100%;
  }

  .place {
    width: 100%;
  }

  .place input {
    text-align: left;
    padding-left: 20px;
  }

  .vector {
    min-width: 50px;
  }

  .button-search {
    display: none;
  }

  .magnifying-glass {
    display: flex;
    min-width: 49px;
    margin-left: -15px;
  }

  /***** Filter *****/
  .groupIcons {
    height: 128px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  }

  .filterTextIcons {
    width: 36%;
    gap: 5px;
    margin: 0px;
    font-size: 14px;
  }

  .filterTextIcons i {
    font-size: 21px;
    line-height: 38px;
  }

  .infoBar {
    height: auto;
  }

  /***** Hebergements and Populaires *****/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding: 30px 20px;
  }

  /** Populaires **/
  .populaires {
    margin-top: 10px;
  }

  .populaires-cards {
    display: block;
  }

  .populaires-cards .card {
    align-content: center;
    margin-top: 16px;
  }

  .populaires-cards .card-title {
    font-size: 16px;
  }

  /** Hebergements **/
  .hebergements-and-populaires .hebergements {
    background-color: white;
  }

  .hebergements-cards {
    display: block;
  }

  .hebergements-cards .card {
    margin-top: 16px;
  }

  .hebergements-cards img {
    height: 111px;
  }

  .hebergements-cards .card-title {
    margin-bottom: 9px;
    font-size: 16px;
  }

  .hebergements-cards .card-subtitle {
    margin-bottom: 3px;
  }

  .button-plus {
    margin-top: 15px;
  }

  /***** Activités Marseille *****/
  .activites .activites-cards {
    display: inline-block;
    flex-direction: column-reverse;
  }

  .activites-cards .card {
    margin-bottom: 14px;
  }

  .activites-cards img {
    height: 141px;
  }

  .activites-cards .card-title {
    font-size: 16px;
  }

  .activites-cards .card-content {
    margin-top: -5px;
  }

  /***** Footer *****/
  footer {
    display: block;
    height: auto;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 47px;
  }

  .footer {
    padding: 0px 30px 0px 30px;
    margin-bottom: 30px;
  }

  .footer ul {
    height: auto;
  }
}

@media (max-width: 497px) {
  .infoIcons {
    position: relative;
    top: 8.5px;
  }
}

@media (max-width: 355px) {
  .place input {
    padding-left: 0px;
    font-size: 0.9em;
    height: 42px;
  }

  .filterTextIcons {
    padding-left: 10px;
  }
}
